.remove-button {
  &::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../img/icons/cross.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &:focus-visible {
    &::before {
      outline: 1px solid $color-grey;
    }
  }
}
